<div class="row">
  <div class="col-12 text-center">
    <h2 class="mt-4 mb-4 nidoo-font">Busca tu Nidoo</h2>
    <agm-map [latitude]="coordinates.coordenadaX" [longitude]="coordinates.coordenadaY" [zoom]="15">
      <agm-marker [latitude]="coordinates.coordenadaX" [longitude]="coordinates.coordenadaY"></agm-marker>
      <agm-marker *ngFor="let parkingLot of nearParkingLots" [latitude]="parkingLot.coordenadaX" [longitude]="parkingLot.coordenadaY"
        [iconUrl]="'./assets/logos/marker.png'"></agm-marker>
    </agm-map>
  </div>
</div>
