<div class="container container-fluid">
  <div class="row font-weight-bold">
    <div class="col-12 text-right mt-1 mb-1" style="font-size: 13px">
      <img src="./assets/icons/phone.svg" alt="Icono del celular" />&nbsp;
      <a class="nidoo-font" href="https://web.whatsapp.com/send?phone=+573107773576" target="blank">+57 310 777 3576</a>&nbsp;&nbsp;
      <img src="./assets/icons/envelope.svg" alt="Icono del celular" />&nbsp;
      <a class="nidoo-font" href="mailto:info@nidoo.la">info@nidoo.la
      </a></div>
  </div>
</div>
