<nav class="navbar navbar-expand-lg navbar-dark bg-nidoo">
  <div class="container container-fluid mt-3 mb-3">
    <a class="navbar-brand" href="#">
      <img src="./assets/logos/logoNidoo.svg" class="d-inline-block align-top" alt="Logo de Nidoo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/iniciarSesion']">Iniciar sesión</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/registro']">Registrarse</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link text-light pointer" (click)="logOut()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
